[submodule "plugins/pelican_pandoc_reader"]
	path = plugins/pelican_pandoc_reader
	url = https://github.com/class4kayaker/pelican_pandoc_reader
[submodule "data-science-bib"]
	path = data-science-bib
	url = https://github.com/matthew-brett/data-science-bib
[submodule "pelican-plugins"]
	path = plugins/pelican-plugins
	url = https://github.com/getpelican/pelican-plugins
[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = https://github.com/danielfrg/pelican-ipynb
[submodule "theme/elegant"]
	path = theme/elegant
	url = https://github.com/Pelican-Elegant/elegant
