pelican[markdown]
cssmin
jupyter
nbconvert
jinja2
jupyter_contrib_nbextensions
webassets
# https://github.com/jupyter/notebook/issues/4436#issuecomment-2591585054
notebook<7
# For pelican-pandoc-reader
pypandoc
# Tools for making new posts
-e ./pelitools
# For notebooks
pandas
matplotlib
jupytext
# Github upload
ghp_import
