pelican[markdown]
cssmin
jupyter
nbconvert
jinja2
jupyter_contrib_nbextensions
webassets
# For pelican-pandoc-reader
pypandoc
# Tools for making new posts
-e ./pelitools
# For notebooks
pandas
matplotlib
jupytext
# Github upload
ghp_import
